@import "variables/all";
@import "mixins/all";

$animation-delay: 0.1s;

.folderContainer {
  width: 100%;
  max-width: 54rem;
  flex: none;
  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
  @include media-breakpoint-down(sm) {
    flex: 0 auto;
  }
}

.folderWrapper {
  width: 100%;
  height: 100%;
  position: relative;

  @include media-breakpoint-down(sm) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.folder {
  width: 100%;
  height: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-shrink: 0;
  padding: 2.5rem 1.5rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  background-color: #3827c8;

  overflow: hidden;
  border-top-right-radius: 92px;

  border-radius: 20px;

  & .line {
    width: 100%;
    height: 1px;
    background: #eee;
  }
}

.folder h1 {
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: Bold;
  font-size: 7rem;
  line-height: 1;
  @include media-breakpoint-down(sm) {
    font-size: 5.5rem;
  }
  @include media-breakpoint-down(lm) {
    font-size: 3.5rem;
  }
}
.wordsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.words {
  display: inline-block;
  flex-direction: column;
  position: relative;
  height: 7rem;
  max-height: 7rem;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    height: 5.5rem;
    max-height: 5.5rem;
  }
  @include media-breakpoint-down(lm) {
    height: 3.5rem;
    max-height: 3.5rem;
  }

  & .word {
    font-weight: Bold;
    position: relative;
    display: none;
    overflow: hidden;
    &.wordActive {
      animation: wordsActive 1.5s cubic-bezier(0.45, 0, 0.55, 1);
      width: fit-content;
      display: inline-block;
    }

    @include media-breakpoint-down(sm) {
      font-size: 5.5rem;
    }
    @include media-breakpoint-down(lm) {
      font-size: 3.5rem;
    }
  }
}

.char {
  display: inline-block;
  visibility: hidden;
  &.active {
    visibility: visible;
    animation: wordActive 2s cubic-bezier(0.85, 0.26, 0.28, 0.92);
  }
  &.done {
    visibility: visible;
    animation: wordDone 1s cubic-bezier(0.85, 0.26, 0.28, 0.92);
  }
}

.thing {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.imageContainer {
  z-index: 1;
  width: 200px;
  height: 300px;
  position: absolute;
  right: 70px;
  top: 70px;

  @include media-breakpoint-down(sm) {
    width: 150px;
    height: 200px;
    right: 20px;
    top: 20px;
  }
}

.imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.img {
  width: 0%;
  transform: translateY(130px);

  &.imgActive {
    transform: translateY(130px);
    animation: imgActive 2s cubic-bezier(0.58, -0.01, 0.44, 0.99);
  }
  &.imgDone {
    transform: translateY(0px);
    animation: imgDone 1s cubic-bezier(0.58, -0.01, 0.44, 0.99);
  }
}

.folderFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .folderFooterWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .text {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;
      @include media-breakpoint-down(lm) {
        gap: 4px;
        flex-direction: column;
        align-items: start;
      }
      & h1 {
        font-size: 4rem;

        @include media-breakpoint-down(lg) {
        }
        @include media-breakpoint-down(sm) {
          font-size: 2.5rem;
        }
      }
    }
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  & span {
    background-color: #fdc448;
    border-radius: 20px;
    padding: 0.7rem 1.2rem;
    text-align: center;
    color: #000;
    text-transform: uppercase;
  }

  & .lighting {
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
    padding: 8px;

    & path {
      fill: #000;
    }
  }

  & .lightingLeft {
    height: 0px;
    width: 0px;
    padding: 0px;
    animation: iconDown 0.3s ease-in-out forwards;
  }

  & .lightingRight {
    animation: iconUp 0.3s ease-in-out forwards;
  }
  &:hover {
    & .lightingLeft {
      animation: iconUp 0.3s ease-in-out forwards;
    }
    & .lightingRight {
      animation: iconDown 0.3s ease-in-out forwards;
    }
  }
}
@keyframes iconUp {
  0% {
    height: 0px;
    width: 0px;
    padding: 0px;
  }
  100% {
    height: 22px;
    width: 22px;
    padding: 3px;
  }
}
@keyframes iconDown {
  0% {
    height: 22px;
    width: 22px;
    padding: 3px;
  }
  100% {
    height: 0px;
    width: 0px;
    padding: 0px;
  }
}

@keyframes imgActive {
  0% {
    transform: translateY(130px);
    width: 0%;
  }
  50% {
    width: 100%;
    transform: translateY(0px);
  }
  100% {
    width: 100%;
    transform: translateY(0px);
  }
}

@keyframes imgDone {
  0% {
    transform: translateY(0px);
    width: 100%;
  }
  50% {
    transform: translateY(0px);
    width: 100%;
  }
  100% {
    width: 0%;
    transform: translateY(0px);
  }
}

@keyframes wordActive {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wordsActive {
  0% {
    transform: translateY(200px);
  }
  20% {
    transform: translateY(200px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wordDone {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
