.testimonialSliderContainer {
}

.testimonialSlider {
  overflow: hidden;
  height: 100% !important;
  @media screen and (max-width: 768px) {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  :global(.swiper-slide) {
    height: 100% !important;
  }

  :global(.swiper) {
    overflow: initial;
  }
}
